.tilesrow {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping on very small screens if desired */
}

.tilesrow-tile {
  position: relative;
  flex: 1;
  height: 100vh;
  padding: 40px;
  /* display: flex; */
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.tilesrow-tile .tilesrow-tile-url::after {
  position: absolute;
  z-index: 3;
  inset: 0;
  content: "";
}

.tilesrow-tile-title {
  position: relative;
  z-index: 2; /* Ensures text stays above the overlay */
  width: 100%;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
}

.tilesrow-tile-overlay {
  position: absolute;
  z-index: 1;
  inset: 0;
  opacity: 0.9;
  background-color: var(--bg-color);
  transition: background-color 0.5s ease;
}

.tilesrow-tile:hover .tilesrow-tile-overlay {
  background-color: rgba(0, 0, 0, 0);
}

@media (max-width: 768px) {
  .tilesrow-tile { flex: 100%; }
}